{% extends 'header.html' %}
{% load static %}
{% block content %}

{% if not user.is_authenticated %}
    <h2>ابتدا باید ثبت نام کنید یا <a href="{% url 'login' %}">وارد</a> شوید</h2>
    {% else %}
    <section class="main">
    <div class="wrapper">
        <div class="left-col">
            {% for AA in posts %}

                <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                        {% for profile_image in AA.profile_image.all %}
                        <img src="{{ im.profile_image.url }}" alt="">
                        {% endfor %}
                        </div>
                        <p class="username">{{ AA.user }}</p>
                    </div>
                    <img src="" class="options" alt="">
                </div>
                <img src="{{ AA.image.url }}" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <a href="{% url 'post-detail' AA.pk %}"><img src="{% static 'img/icone/icons8-speech-bubble-26.png' %}" class="icon" alt=""></a>
                        <img src="{% static 'img/icone/icons8-email-send-26.png' %}" class="icon" alt="">
                        <img src="{% static 'img/icone/icons8-bookmark-26.png' %}" class="save icon" alt="">
                    </div>

                   <p id="{{ AA.pk }}" class="counter"> {{ AA.likes.count }} like</p>
                    <button style="background: none;border: none;" onclick="likePost(this)" id="{{ AA.pk }}" >
                            {% if AA in liked_posts %}
                                <img src="{% static 'img/icone/icons8-love-26.png' %}" class="icon" alt="">
                            {% else %}
                                <img src="{% static 'img/icone/icons8-heart-26.png' %}" class="icon" alt="">
                            {% endif %}
                        </button>
                    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

                    <script>
                        // Load a login template if user is not signed in
                        const likePost = function(button){

                            post_id = $(button).attr('id');
                            $.ajax({
                                type:'POST',
                                url: '/post/like/',
                                data: {
                                'post_id': post_id,
                                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                                },

                                success: function (response) {
                                    if(response.liked){
                                        $(button).html('<img src="{% static 'img/icone/icons8-love-26.png' %}" class="icon" alt="">');
                                        current_likes = parseInt($('#' + post_id).html()) ;
                                        $('#' + post_id).html(current_likes + 1 + ' like');

                                    }
                                    else{
                                        $(button).html('<img src="{% static 'img/icone/icons8-heart-26.png' %}" class="icon" alt="">');
                                        current_likes = parseInt($('#' + post_id).html()) ;
                                        $('#' + post_id).html(current_likes - 1 + ' like');
                                    };
                                },

                                error: () =>{
                                    console.log("sorry something went wrong");
                                }
                            })
                        };
                    </script>
                    <p class="description"><span>{{ AA.user }}</span> {{ AA.description }}</p>
                    <p>---</p>
                    <p class="comment">View all {{ AA.comments.count }} comments</p>
                    {% for comment in AA.comments.all %}
                        <p class="comment-people">{{ comment.author }} {{ comment.comment }}</p>
                    {% endfor %}
                    <p class="post-time">{{ AA.created }}</p>
                </div>
                <div class="comment-wrapper">
{#                    <img src="img/smile.PNG" class="icon" alt="">#}
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{#                        {{comments.as_p}}#}
{#                        <button class="comment-btn">post</button>#}
{#                    </form>#}
                </div>
            </div>
            {% endfor %}
            {% csrf_token %}
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}