{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="{% url 'Home' %}"><img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" class="brand-img" alt=""></a>
            <input type="text" class="search-box" placeholder="search">
            <div class="nav-items">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">exit</a>
                    <a href="{% url 'Home' %}"><img src="{% static 'img/icone/icons8-home-26.png' %}" class="icon" alt=""></a>
                    <img src="{% static 'img/icone/icons8-email-send-26.png' %}" class="icon" alt="">
                    <a href="{% url 'create' %}"><img src="{% static 'img/icone/icons8-add-26.png' %}" class="icon" alt=""></a>
                    <img src="{% static 'img/icone/icons8-compass-26.png' %}" class="icon" alt="">
                    <a href="{% url 'profile' %}"><img src="{% static 'img/icone/icons8-male-user-26.png' %}" class="icon" alt=""></a>
                    <span>{{ user.username }}</span>
                    {% else %}
                    <span>login</span>
                    <a href="{% url 'login' %}">
                        <img src="{% static 'img/icone/icons8-login-26.png' %}" class="icon" alt="">
                    </a>
                {% endif %}
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>
    <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Creat Post</h2>
            </div>
            <div class="modal-body">
            </div>
          </div>

    </div>
        {% block content %}

    {% endblock content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'css/semantic.min.js' %}"></script>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>