{% extends 'header.html' %}
{% block title %}Bookmark an image{% endblock %}
{% block content %}
     <img src="{{ request.GET.url }}" class="image-preview" alt="">
     <form method="post" enctype="multipart/form-data">
    <div class="ui card" style="margin: auto;">
        <div class="content">
            <div class="header">
                    {{ form.image }}
                </div> <br>
                <div class="meta">
                  {{ form.description }}
                </div>
                <input type="submit" class="ui primary button" value="share">
                <br>
            </div>
        </div>
     {% csrf_token %}
     </form>
{% endblock %}