{% extends 'header.html' %}
{% load static %}
{% block content %}

    <header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">
                {% if objectg.photo.url == objectg.photo.url %}
				<img src="{{ object.photo.url }}" alt="">
                {% endif %}
			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{ object }}</h1>
                {% if follow %}
                    <form action="{% url 'switch_follow_unfollow' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                        <button type="submit" class="btn profile-edit-btn">unfollow</button>
                    </form>
                    {% else %}
                    <form action="{% url 'switch_follow_unfollow' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                        <button type="submit" class="btn profile-edit-btn">follow</button>
                    </form>
                {% endif %}


				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{ post_user.count }}</span> posts</li>
					<li><span class="profile-stat-count">0</span> followers</li>
					<li><span class="profile-stat-count">{{ object.following.count }}</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name"></span>{{ object.bio }}</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

			{% for posts in post %}
			    <div class="gallery-item" tabindex="0">

				<img id="img123" src="{{ posts.image.url }}" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>{{ posts.likes.count }}</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>{{ posts.comments.count }}</li>
					</ul>

				</div>

			</div>
			{% endfor %}


		</div>
		<!-- End of gallery -->

	</div>
	<!-- End of container -->

</main>


{% endblock content %}